<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <h1> Home Page </h1>
        <h3>This is the Sample CURD operations website which uses following technologies</h3>
        <ul>
    <li>
        Express.js, or simply Express, is a back end web application framework for Node.js,
        released as free and open-source software under the MIT License. It is designed for 
        building web applications and APIs. It has been called the factor standard server 
        framework for Node.js. 
    </li>
    <li>
        Mongoose is an object data modeling (ODM) library that
        provides a rigorous modeling environment for your data, enforcing structure as 
        needed while still maintaining the flexibility that makes MongoDB powerful 
    </li>   
    <li>
        MongoDB is a document-oriented database which stores data in JSON-like documents 
        with dynamic schema. It means you can store your records without worrying about the 
        data structure such as the number of fields or types of fields to store values.
    </li>
    </ul>
       <ol>
           <li>
            <a href="/products">All Products</a>
           </li>
           <li>
            <a href="/products/new">Create a new Product</a>
           </li>
       </ol>
    </body>
</html>